@import "../vars";
@import "../_vendor/inuit/vars";
@import "../_vendor/inuit/defaults";
@import "../_vendor/inuit/generic/mixins";
@import "../_vendor/inuit/generic/clearfix";
@import "../_vendor/inuit/generic/shared";
@import "../_vendor/inuit/objects/greedy";

@import "../plugins/queries";



/*------------------------------*\
               RTL SUPPORT
\*------------------------------*/

/*body*/.rtl {
  direction: rtl;
  unicode-bidi: embed;
  text-align:right;
}


/*------------------------------*\
               LAYOUT
\*------------------------------*/

/**
 * Content
 */

@include query-above($lap) {
  /*#main*/.content {
        margin-left:0 !important;
        @include rem(margin-right, 250px !important);
    }
}



/*------------------------------*\
               HEADER
\*------------------------------*/

.header {

  left:auto;
  right:0;

  @include query-above($lap) {
        @include rem(padding-right, 2*$base-spacing-unit);
        @include rem(padding-left, $base-spacing-unit);
  }

  &:before, &:after {
    left:auto;
    @include rem(right, $base-spacing-unit);
  }


  /*ul*/.site-navigation--main {

      @include query-above($lap) {
          margin-left:0;
          @include rem(margin-right, -1 * $base-spacing-unit);
      }

      /*li*/.menu-item--parent {
          &:after {
              right:auto;
              @include rem(left, $half-spacing-unit);
          }
        }
  }

  .site-footer {
    padding-right: 24px;
  }
}

.site-logo {
    @include query-below($lap) {
        @include rem(margin-right, 23px);
    }
}


#navigation {
    @include query-above($lap) {
        margin-left:0;
        // @include rem(margin-right, -1 * $base-spacing-unit);
    }
}




/*-------------------------------------------*\
               MOBILE NAVIGATION
\*-------------------------------------------*/
.site-header__branding {

}

.site-navigation__trigger {
    @include query-below($lap) {
        right: auto;
        left: 0;
    }

    i {
        @include rem(right, $half-spacing-unit);
        left:auto;;
    }
}

@include query-below($lap) {

    .menu-item--parent:after {
        left: 0;
        right:auto;
    }

    /**
    * Transitioning the navigation on mobile
    */
    .wrapper {
        transition: right .25s ease-in-out;

        .navigation--is-visible & {
            right: -75%;
            left:auto;
        }

        @include query-above($lap) {
            right: 0 !important;
            left:auto !important;
        }
    }

    .csstransforms3d {

        .wrapper {
            right: 0 !important;
            left:auto !important;
        }
    }

    .csstransforms.navigation--is-visible {

        .wrapper {
            transform: translateX(75%);
        }
    }

    .csstransforms3d.navigation--is-visible {

        .wrapper {
            transform: translate3d(75%,0,0);
        }
    }
}

.header__inner-wrap {

    position: relative;
    z-index: 30;

    @include query-below($lap) {
        right: 100%;
        left:auto;
        margin-right: 0;
    }
}





/*------------------------------*\
               PAGE SINGLE
\*------------------------------*/


.page-content {
    @include rem(padding-left, $base-spacing-unit);
    padding-right:0;

    @include query-above($lap) {
        @include rem(padding-left, 2 * $base-spacing-unit);
        padding-right:0;
    }
}

.page-main, .page-side {
    float: right;
    @include rem(padding-right, $base-spacing-unit);
    padding-left:0;

    @include query-above($lap) {
        @include rem(padding-right, 2 * $base-spacing-unit);
        padding-left:0;
    }
}

.page-main {

    .single-post & {

        .featured-image {
            // @include rem(margin, 0 -1 * $base-spacing-unit);

            @include query-above($lap) {
                // @include rem(margin, 0 -2 * $base-spacing-unit);
            }

            @include query-above($lap) {
                margin-left: 0;
            }
        }

        @media only screen and (min-width: 1600px) {
            @include rem(padding-right, 6 * $base-spacing-unit);
            padding-left:0;

            .featured-image {
                @include rem(margin-right, -6 * $base-spacing-unit);
                margin-left:0;
            }
        }

        @media only screen and (min-width: 1750px) {
            @include rem(padding-right, 10 * $base-spacing-unit);
            padding-left:0;

            .featured-image {
                @include rem(margin-right, -10 * $base-spacing-unit);
                margin-left:0;
            }
        }
    }
}



.entry__wrap {

    @media only screen and (min-width: 1600px) {

        @include rem(margin-right, -6 * $base-spacing-unit);
        margin-left:0;

        .entry__content {
            @include rem(margin-right, 6 * $base-spacing-unit);
            margin-left:0;
        }
    }

    @media only screen and (min-width: 1750px) {

        @include rem(margin-right, -10 * $base-spacing-unit);
        margin-left:0;

        .entry__content {
            @include rem(margin-right, 10 * $base-spacing-unit);
            margin-left:0;
        }
    }
}

.page-content{
    @include query-below($lap) {
        .featured-image {
            @include rem(margin-right, -$base-spacing-unit);
            @include rem(margin-left, -$base-spacing-unit);
        }
    }

    @include query-above($lap) {
        .featured-image {
            @include rem(margin-right, -2*$base-spacing-unit);
        }
    }
}

.entry__likes {

    @media only screen and (max-width: 1599px) {
        right: auto; left: 0;
    }

    @media only screen and (min-width: 1600px) {
        float: right;
        margin:0;
    }
}

@include query-above($lap) {
    .entry__meta-box{
        float: right;
        @include rem(margin-left, $base-spacing-unit);
        margin-right:0;
    }
}


/*------------------------------*\
               BLOG
\*------------------------------*/

.masonry__item {
 .entry__title {
      margin-right: 0;
      @include rem(margin-left, $base-spacing-unit);
      @include rem(padding, $half-spacing-unit $half-spacing-unit $base-spacing-unit 0);
  }
}

.article-timestamp {
    float: right;
    margin-left:0;
    @include rem(margin-right, $base-spacing-unit);
}
.article-timestamp__date {
    float:right;
    margin-left:5px;
}

.image_item-categories {
  float:right;
  text-align:right;

  li {
    float:right;
  }
}

.span {
    float: right;
}

.article-timestamp--single{
  @include query-above($lap) {
        float: right;
        @include rem(margin, 26px -8 * $base-spacing-unit 0 0);
    }
}

.likes-box--article {
    @include query-above($lap) {
        float: right;
        // @include rem(margin, 6 * $base-spacing-unit -6 * $base-spacing-unit 0 0);
    }
}

.social-links {
  float:left;
}






/*------------------------------*\
               SIDEBAR
\*------------------------------*/
 @include query-above($lap) {
    .page-content{
        padding-right:0;
    }
    .page-content .page-side{
        float: right;
        @include rem(padding-right, 2 * $base-spacing-unit);
        padding-left: 0;
    }
}

.form-search {
  margin-right:0;
  @include rem(margin-left, -2 * $base-spacing-unit);
}

    .form-search .btn{
        margin-right:0;
        @include rem(margin-left, 2 * $base-spacing-unit);
        float: left;
    }





/*------------------------------*\
               PORTFOLIO
\*------------------------------*/

.portfolio-archive .content {

}

.image_item-like-box {
  text-align:right;
}





/*------------------------------*\
               SHORTCODES
\*------------------------------*/

/**
 * Team Member
 */

.team-member-name, .team-member-position,
.team-member-description p{

    @include query-below($lap) {
        text-align: right;
    }

    @include query-above($lap){
        text-align: right;
    }
}

.team-member-social-links{
    text-align: center;

    @include query-below($lap) {
        text-align: left;
    }

    @include query-above($lap){
        text-align: right;
    }
}

/**
* Separator
*/
.separator--full-left{
    margin-left:0;
    padding-left:0;
    @include rem(margin-right, -2 *$base-spacing-unit);
    @include rem(padding-right, 2 *$base-spacing-unit);
}

.single-post .separator--full-left{
    margin-left:0;
    padding-left:0;
    @include rem(margin-right, -10 *$base-spacing-unit);
    @include rem(padding-right, 10 *$base-spacing-unit);
}

/**
 * Grid
 */
.row-shortcode div[class*='span-'] {
  float:right;
}

/**
* Progress Bar
*/
.progressbar__progress {
  right:0;
  left:auto;
}
.progressbar__tooltip {
  @include rem(left, -55px);
  right:auto;
}



/*------------------------------*\
               PLUGINS
\*------------------------------*/

/*
* Like Box
*/

.image_item-like-box {
  text-align:left;
}

.likes-box {

  .like-link {
    // float:left;
  }

  .likes-text:after {
    right:0;
    left:auto;
  }
}

.likes-box--footer{
    @include query-above($lap) {
        float: right;
    }
}

/**
 * Article likes box VERTICAL positioning
 */

@include query-above($lap){
    .likes-box--article{
        float: right;
        // @include rem(margin, 6 * $base-spacing-unit -6 * $base-spacing-unit 0 0);

        .likes-text {
            &:after {
                right:-13px;
                left:auto;
            }
        }
    }
}




/*------------------------------*\
               GALLERIES & SLIDERS
\*------------------------------*/
.gallery-control{
    right:auto;
    @include rem(left, 2 * $base-spacing-unit);
}

.gallery-control--left {
    left: auto;
    @include rem(right, 2 * $base-spacing-unit);
}

.image_item--block {
  text-align:right;
}

/*----------------------------------------*\
*   $GALLERY-CONTROLS
\*----------------------------------------*/


.gallery-control{
    @include rem(margin-left, $half-spacing-unit/2);
    margin-right:auto;
    direction:ltr;
}

.mfp-counter {
  left:0;
  right:auto;
}

// Magnific popup image caption/title
.mfp-title{
    text-align:right;
}


.masonry__item {

    .gallery-control {
        left: auto; right: 0;
        direction:ltr;


        .count {
            text-align: right;
            float: right;
            position: absolute;
            top: auto;
            left: auto;
            bottom: 0;
            @include rem(right, $base-spacing-unit);
        }

        .arrow-button--left{
            position: absolute;
            @include rem(left, $base-spacing-unit);
            @include rem(bottom, 4px);
        }

        .arrow-button--right{
            position: absolute;
            @include rem(left, $base-spacing-unit);
            @include rem(bottom, 4px);
        }
    }
}




/*----------------------------------------------*\
               $SINGLE PROJECT/ GALLERY FULL
\*----------------------------------------------*/

.project--fullwidth__header {
  float:right;
}

.project--fullwidth__content {
  @include rem(border-right, 48px solid transparent);
  border-left-width:0;
}

@media only screen and (min-width: 1201px) {
  .project--fullwidth__header .entry__header {
    border-right: 0;
    border-left: 1px dotted #242423;
  }
}

.single-gallery-fullscreen {
    .content {
        margin-right: 0 !important;
        margin-left:auto !important;
    }
}

.gallery--fullscreen{
    @include query-above($lap) {
        right: 0;
        left:auto;
    }
}

// Related Projects
@media only screen and (min-width: 901px) {
  .related-projects_title {
    float: right;
  }
}
.projects_nav {
  text-align:left;
}

// Quote Post Format
.header-quote-content blockquote{
    margin-right: 0;

    &:before{
        margin-right: 0;
    }
}

@media only screen and (min-width: 1750px) {
    .single-post{

        .entry__content blockquote{
            @include rem(margin-right, -3 * $base-spacing-unit);
            margin-left:0;
            @include rem(padding-right, 3 * $base-spacing-unit);
            padding-left:0;
        }
    }
}

blockquote {
    text-indent: 0;
    @include rem(margin, 2*$base-spacing-unit 3*$base-spacing-unit 2*$base-spacing-unit 0);

    &:before{
        float: right;
        display:left;
        @include rem(margin-right, -3 * $base-spacing-unit);
        margin-left:0;
    }

}



/*----------------------------------------------*\
               $PRELOADER
\*----------------------------------------------*/
.pace .pace-activity {
  @include rem(top, $base-spacing-unit);
  @include rem(left, $base-spacing-unit);
  right:auto;
}




/*----------------------------------------------*\
               $WIDGETS
\*----------------------------------------------*/
.site-social-links {
  margin-left: 1em;
  margin-right:0;
}




/*----------------------------------------*\
    $MOBILE NAVIGATION
\*----------------------------------------*/

@include query-below($lap) {

    .site-header {
        float:right;
    }
    .navigation--mobile{
        @include rem(padding-left, $base-spacing-unit);
        @include rem(padding-right, $base-spacing-unit/2);

        right: auto;
        left: 0;
    }

    .site-navigation__trigger {
        left: 0; right: auto;
    }

    .navigation--is-visible {
        .wrapper {
            transform: translateX(75%);
        }
    }
}


/*----------------------------------------*\
*   $HEADER TRANSPARENT
\*----------------------------------------*/

@include query-above($lap) {

    /*body*/.header-transparent{
        .header{
            background-image: linear-gradient(right, rgba(0,0,0,0.4) 5%, rgba(0,0,0,0) 100%);
        }
    }
}




