/*#main*/.content {
    @extend .cf;
    // @extend .row;
    position: relative;
    // ? @include rem(padding-bottom, $base-spacing-unit);

    @include query-below($lap) {
        @include rem(top, 3*$base-spacing-unit);
        @include rem(padding-bottom, 3*$base-spacing-unit);
        transition: opacity .3s ease-in-out;

        // // some dark overlay over the content when the navigation is visible
        // .navigation--is-visible & {
        //     @include opacity(0.15);
        // }

    }

    .single-gallery-fullscreen &, .single-gallery-fullwidth & {
        padding-bottom: 0;
    }

    @include query-above($lap) {
        // @include rem(padding-bottom, 2 * $base-spacing-unit);
        @include rem(margin-left, 250px);
    }
}

.page-content {
    @include rem(padding-right, $base-spacing-unit);

    @include query-above($lap) {
        @include rem(padding-right, 2 * $base-spacing-unit);
    }
}

.page-main, .page-side {
    float: left;
    @include rem(padding-left, $base-spacing-unit);

    @include query-above($lap) {
        @include rem(padding-left, 2 * $base-spacing-unit);
    }
}

.page-main {
    width: 100%;

    .single-post & {

        .featured-image {
            @include rem(margin, 0 -1 * $base-spacing-unit);

            @include query-above($lap) {
                @include rem(margin, 0 -2 * $base-spacing-unit);
                margin-right: 0;
            }
        }

        @media only screen and (min-width: 1600px) {
            @include rem(padding-left, 6 * $base-spacing-unit);

            .featured-image {
                @include rem(margin-left, -6 * $base-spacing-unit);
            }
        }

        @media only screen and (min-width: 1750px) {
            @include rem(padding-left, 10 * $base-spacing-unit);

            .featured-image {
                @include rem(margin-left, -10 * $base-spacing-unit);
            }
        }
    }

    @include query-above($lap) {
        @include rem(max-width, 890px);

        .page-content--with-sidebar & {
            width: 67%;
        }
    }
}

.page-side {
    width: 100%;

    @include query-above($lap) {
        width: 33%;
        @include rem(max-width, 420px);
    }
}

.featured-image {

    img {
        width: 100%;
    }
}


/*--------------------------------*\
               SINGLE
\*--------------------------------*/

.entry__wrap {
    @extend .cf;

    @media only screen and (min-width: 1600px) {

        @include rem(margin-left, -6 * $base-spacing-unit);

        .entry__content {
            @include rem(padding-top, $base-spacing-unit);
            @include rem(margin-left, 6 * $base-spacing-unit);
        }
    }

    @media only screen and (min-width: 1750px) {

        @include rem(margin-left, -10 * $base-spacing-unit);

        .entry__content {
            @include rem(margin-left, 10 * $base-spacing-unit);
        }
    }
}

.post {
    position: relative;
}

.page-content{
    @include query-below($lap) {
        .featured-image {
            @include rem(margin-left, -$base-spacing-unit);
            @include rem(margin-right, -$base-spacing-unit);
        }
    }

    @include query-above($lap) {
        .featured-image {
            @include rem(margin-left, -2*$base-spacing-unit);
        }
    }
}

.entry__likes {
    @include rem(padding-top, $base-spacing-unit + 4px);
    @include rem(padding-bottom, $base-spacing-unit);
    @extend .cf;

    @media only screen and (max-width: 1599px) {
        position: absolute;
        top: 0; right: 0;
        @include rem(padding-top, $half-spacing-unit - 4px);
    }

    @media only screen and (min-width: 1600px) {
        @include rem(width, 120px);
        text-align: right;
        float: left;

        .likes-box {
            display: inline-block;
            float: none;
        }
    }

    @media only screen and (min-width: 1750px) {
        @include rem(width, 210px);
    }
}




/*-----------------------------------------*\
               PROJECT SIDEBAR
\*-----------------------------------------*/

.project--sidebar__images {

    @include query-above($lap) {
        @include rem(padding-top, 2 * $base-spacing-unit);
        @include rem(padding-bottom, $base-spacing-unit);
    }

    img {
        width: 100%;
        height: auto;
    }
}

.project--sidebar__content {
    @include rem(padding-top, 2 * $base-spacing-unit);

    .entry__title {
        @include rem(padding-bottom, $half-spacing-unit);
    }

    .social-links__message {

        @media only screen and (min-width: 481px) and (max-width: 1750px) {
            display: none;
        }
    }
}

.project--sidebar__related {
    clear: both;
}

// .single-lens_gallery .content{
//     padding-bottom: 0;
// }
//



/*-------------------------------------------*\
               PROJECT FULLWIDTH
\*-------------------------------------------*/

.project--fullwidth__header {
    @extend .col-12;
    @extend .lap-span-5;

    @include query-above($lap) {
        .entry__header{
            border-right: 1px dotted $dark;
        }
    }
}

.project--fullwidth__separator--header {
    @extend .col-12;
    @extend .lap-span-5;
}

.project--fullwidth__content {
    @extend .col-12;
    @extend .lap-span-7;
    @include rem(padding-bottom, $base-spacing-unit);

    @include query-above($lap) {
        @include rem(border-left-width, 2 * $base-spacing-unit);
        @include rem(padding-top, 5 * $half-spacing-unit);
    }
}

.project--fullwidth__separator--content {
    @extend .col-12;
    @extend .lap-span-7;
    @include rem(border-left-width, 2 * $base-spacing-unit);
    display: none;

    @include query-above($lap) {
        display: block;
    }
}





/*----------------------------------------*\
    $CONTACT PAGE
\*----------------------------------------*/
.content--contact .page{
    @include rem(margin-bottom, $base-spacing-unit);
}





.admin-bar{
    @include query-below($lap) {
        #page, .navigation--mobile{
            top: 46px !important;
        }
    }

    @include query-above($lap) {
        #page{
            top: 32px !important;
        }
    }

    &.single-gallery-fullwidth,
    &.single-gallery-fullscreen {
        #page {
            top: 0 !important;
        }
    }
}



