@include query-above($lap) {

    .archive.woocommerce{
        background: #0f0f10;

        #page{
            position: static;
        }

        .content{
            background: transparent;
        }

        .masonry{
            background: transparent;
        }
    }

    .woocommerce-pagination{
        a{
            color: white;
			font-family: "Josefin Slab", serif;
		}
	}
}


.woocommerce-ordering{
	position: absolute;
	right: 10px;
	top: 30px;
}


.product {
    position: relative;
    .product-on-sale {
        padding: 6px 15px;
        position: absolute;
        background: #555;
        color: #eee;
        top: 0;
        right: 0;
        z-index: 1;
    }
 }

 .woocommerce-page{
	input[type="submit"], button{
		border-radius: 0;
	}

	.page-content .btn{
		line-height: 3;
	}

 	.woocommerce-info, .woocommerce-message, .woocommerce-error{
 		border: 1px solid #e5e9eb;
 		background: none;
 		border-radius: 0;
 		box-shadow: none;
 		padding: $base-spacing-unit !important;

 		&:before{
 			content: none;
 		}

 		.pixcode--icon{
 			margin: 3px 10px 3px 3px;
 			background: $accent-color;
 			color: $dark;
 		}
 	}

 	.woocommerce-error{
 		padding: 12px;
 		border-color: red;
 	}

 	.woocommerce #payment{
 		background: none;

 		label{
 			display: inline-block;
 		}

 		.payment_methods{
 			padding: 24px 0;

 			border-bottom: 1px dotted $dark;
 		}

 		.payment_box{
 			background: none;
 			font-family: "Open Sans", sans-serif;
 			box-shadow: none;

 			&:after{
 				content: none;
 			}
 		}

 		.place-order{
 			padding-left: 0;
 			padding-right: 0;
 		}
 	}

 }

.woocommerce table.shop_table, .woocommerce-page table.shop_table {
    border-collapse: collapse !important;
}

.woocommerce {
    @extend .cf;

	.input-text {
        padding: 6px 12px;
        border: 1px solid #e5e9eb;
    }

    input[type="radio"] {
    	height:25px;
    	vertical-align: sub;
        margin-right: 5px;
    }

    label, .label {
    	display:inline;
    }
}

.no-products-error{
    @include query-above($lap) {
        color: white;
    }
}

// Show Login from
.woocommerce-account.woocommerce-page form.login {
    display:block !important;
}

.woocommerce .col2-set {
	@extend .row;

	.col-1 {
		@extend .span-6;
	}
}