/*----------------------------------------*\
*   $SOCIAL LINKS
\*----------------------------------------*/

/**
 * Social links/icons styling
 *
    <div class="social-links">
        <span class="social-links__message">Share: </span>
        <ul class="social-links__list">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-google-plus"></i></a></li>
            <li><a href="#"><i class="icon-pinterest"></i></a></li>
        </ul>
    </div>
 */

@include query-above($lap) {
    .social-links{
        float: right;
    }
}

    .social-links__message {
        display: inline-block;
        @include rem(margin-right, $half-spacing-unit);
        font-family: "Open Sans", sans-serif;
        @include font-size(12px);
        text-transform: uppercase;
    }


    // Sidebar
    .site-social-links {
        @extend .nav;
        display: inline-block;
        margin-bottom: 0;
        line-height: 1;

        a {
            position: relative;
            overflow: hidden;

            @include rem(padding, $half-spacing-unit/2 0);
            @include rem(padding-left, 25px);
            @include rem(width, 25px);

            @include rem(font-size, 18px);
            text-decoration: none;

            &:hover:before {
                color: $accent-color;
            }

            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);

                display: inline-block;

                font-family: FontAwesome;
                -webkit-font-smoothing: antialiased;
                text-align: center;
                color: $light;

                pointer-events: auto;
            }

            // default share icon used as a fallback
            // now for the social services that are in FA
            // we will match the href to them - left them looser so we don't have complaints
                &[href*="mailto:"]:before,
                &[href*="mail"]:before          {content: $fa-var-envelope;}
                &[href*="feed"]:before,
                &[href*="rss"]:before           {content: $fa-var-rss;}
                &[href*="behance"]:before       {content: $fa-var-behance;}
                &[href*="delicious"]:before     {content: $fa-var-delicious;}
                &[href*="deviantart"]:before    {content: $fa-var-deviantart;}
                &[href*="digg"]:before          {content: $fa-var-digg;}
                &[href*="dribbble"]:before      {content: $fa-var-dribbble;}
                &[href*="facebook"]:before      {content: $fa-var-facebook-official;}
                &[href*="flickr"]:before        {content: $fa-var-flickr;}
                &[href*="foursquare"]:before    {content: $fa-var-foursquare;}
                &[href*="github"]:before        {content: $fa-var-github;}
                &[href*="plus.google"]:before   {content: $fa-var-google-plus;}
                &[href*="instagram"]:before     {content: $fa-var-instagram;}
                &[href*="linkedin"]:before      {content: $fa-var-linkedin;}
                &[href*="pinterest"]:before     {content: $fa-var-pinterest;}
                &[href*="reddit"]:before        {content: $fa-var-reddit;}
                &[href*="skype"]:before         {content: $fa-var-skype;}
                &[href*="soundcloud"]:before    {content: $fa-var-soundcloud;}
                &[href*="spotify"]:before       {content: $fa-var-spotify;}
                &[href*="stumbleupon"]:before   {content: $fa-var-stumbleupon;}
                &[href*="tumblr"]:before        {content: $fa-var-tumblr;}
                &[href*="twitter"]:before       {content: $fa-var-twitter;}
                &[href*="vimeo"]:before         {content: $fa-var-vimeo-square;}
                &[href*="vine"]:before          {content: $fa-var-vine;}
                &[href*="vk"]:before        {content: $fa-var-vk;}
                &[href*="weibo"]:before         {content: $fa-var-weibo;}
                &[href*="xing"]:before          {content: $fa-var-xing;}
                &[href*="yahoo"]:before         {content: $fa-var-yahoo;}
                &[href*="youtube"]:before       {content: $fa-var-youtube-play;}
                &[href*="angel.co"]:before      {content: $fa-var-angellist;}
                &[href*="yelp"]:before          {content: $fa-var-yelp;}
                &[href*="last.fm"]:before       {content: $fa-var-lastfm;}
                &[href*="slideshare"]:before    {content: $fa-var-slideshare;}
                &[href*="twitch.tv"]:before     {content: $fa-var-twitch;}
                &[href*="bloglovin"]:before     {content: $fa-var-heart;}
                &[href*="#search"]:before       {content: $fa-var-search;}
                &[href*="medium.com"]:before    {content: $fa-var-medium;}
                &[href*="whatsapp"]:before      {content: $fa-var-whatsapp;}
                &[href*="leanpub"]:before       {content: $fa-var-leanpub;}
                &[href*="renren"]:before        {content: $fa-var-renren;}
                &[href*="twitch"]:before     {content: $fa-var-twitch;}
                &[href*="500"]:before           {content: $fa-var-500px; }
        }
    }


.social-links__list {
    display: inline-block;
    vertical-align: middle;

    a, a.at300b, a.at300m {
        @include rem(padding, 14px 0);
        @include rem(margin, 0px 5px);

        font-size: 1.22222rem;
        color: #807f7d;
        text-decoration: none;
    }

    .at-icon-wrapper {
        display: block;
        border-radius: 50%;
        -webkit-filter: saturate(0);
        filter: saturate(0);

        background-color: $light !important;

        &:hover {
            background-color: $gray !important;
        }

        & {
            width: 22px !important;
            height: 22px !important;
        }

        & > * {
            position: relative;
            top: 2px;
            left: 2px;

            display: block;
            width: 18px !important;
            height: 18px !important;
        }
    }

    [class*='icon-'] {
        padding-right: 0;
    }
}