/*--------------------------------*\
               FILTER BUTTON
\*--------------------------------*/

/*ul*/.sticky-button {
    font-family: $alt-font-family;
    font-weight:300;
    z-index:100;
    position: relative;

    .sticky-button__btn {
        color:white;
        cursor: pointer;
        background:rgba(0,0,0,0.8);
        width:100%;
        padding-left:0;
        text-align:center;
        @include rem(padding-top, $base-spacing-unit/2);
        @include rem(padding-bottom, $base-spacing-unit/2);
        transition: all 0.3s;

        i {
            text-align: center;
            @include rem(font-size, 19px);
            @include rem(line-height, 35px);
            transform: rotate(180deg);
            transition: transform .15s linear;
        }

        &.sticky-button--active {
            background:rgba(0, 0, 0, 1);

            span {
                color:#fff;
            }

            i{
                transform: rotate(0);
            }

            & > ul, & > div > ul {
                height: auto;
                opacity: 1;
            }
        }
    }

    ul {
        height: 0;
        display: block;
        @extend .nav;
        @extend .nav--stacked;
        background-color:black;
        background-color:rgba(0,0,0,0.8);
        position:absolute;
        top: 100%;
        right:0;
        margin-bottom:0;
        width:100%;
        z-index:100;
        transition: all .15s linear;
        opacity: 0;
        overflow: hidden;
    }

    @include query-above($lap) {
        position:fixed;
        @include rem(bottom, 3/2*$base-spacing-unit);
        @include rem(right, 3/2*$base-spacing-unit);

        .sticky-button__btn {
            width:auto;
            text-align:left;
            padding-top: 0;
            padding-bottom: 0;
            padding-right:0;


            i {
                background:#000;
                @include rem(width, 37px);
                padding: 0;
                transform: rotate(0deg);
            }

            & > span {
                margin: 0 1em;
            }
        }

        ul {
            top:auto;
            @include rem(bottom, 35px);
        }
    }
}

.sticky-button-item {

    color:#fff;
    font-size:13px;
    line-height:3;
    text-transform:capitalize;

    @include rem(padding, $half-spacing-unit/4 0);

    &.active, &:hover {
        color:$accent-color;
    }

    @include query-above($lap) {
        line-height:2;
        font-size:12px;
    }

    @include query-above($lap) {
        @include rem(padding-left, $half-spacing-unit);
    }
}