@charset 'UTF-8';
/*----------------------------------------*\
    $WOOCOMMERCE
\*----------------------------------------*/
/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Base stuff
 */
/**
 * Base font-family.
 */
/**
 * Default colour for objects’ borders etc.
 */
/*-----------------------------------------------*\
     $BREAKPOINTS
\*-----------------------------------------------*/
/*-------------------------------------*\
               ICON FONTS
\*-------------------------------------*/
/*--------------------------------*\
               COLORS
\*--------------------------------*/
/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */
/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
/*------------------------------------*\
    $DEFAULTS
\*------------------------------------*/
/**
 * inuit.css’ default variables. Redefine these in your `_vars.scss` file (found
 * in the inuit.css-web-template) to override them.
 */
/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
/*------------------------------------*\
    $BORDER-BOX
\*------------------------------------*/
/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Base stuff
 */
/**
 * Base font-family.
 */
/**
 * Default colour for objects’ borders etc.
 */
/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
/**
 * Responsiveness?
 */
/**
 * Responsiveness for widescreen/high resolution desktop monitors and beyond?
 * Note: `$responsive` variable above must be set to true before enabling this.
 */
/**
 * Responsive push and pull produce a LOT of code, only turn them on if you
 * definitely need them.
 */
/**
 * Note: `$push` variable above must be set to true before enabling these.
 */
/**
 * Note: `$pull` variable above must be set to true before enabling these.
 */
/**
 * Tell inuit.css when breakpoints start.
 */
/*------------------------------------*\
    $QUOTES
\*------------------------------------*/
/**
 * English quote marks?
 */
/**
 * If you want English quotes then please do not edit these; they’re only here
 * because Sass needs them.
 */
/**
 * If you need non-English quotes, please alter the following values accordingly:
 */
/*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * Brand stuff
 */
/**
 * How big would you like round corners to be by default?
 */
/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
/*------------------------------------*\
    $FRAMEWORK
\*------------------------------------*/
/**
 * inuit.css will work these next ones out for use within the framework.
 *
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
/*------------------------------------*\
    $GREEDY
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 *
 *
 */
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
/**
 * Style any number of headings in one fell swoop, e.g.:
 *
   .foo{
       @include headings(1, 3){
           color:#BADA55;
       }
    }
 *
 * With thanks to @lar_zzz, @paranoida, @rowanmanning and ultimately
 * @thierrylemoulec for refining and improving my initial mixin.
 */
/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
/**
 * Create CSS keyframe animations for all vendors in one go, e.g.:
 *
   .foo{
       @include vendor(animation, shrink 3s);
   }

   @include keyframe(shrink){
       from{
           font-size:5em;
       }
   }
 *
 * Courtesy of @integralist: twitter.com/integralist/status/260484115315437569
 */
/**
 * Force overly long spans of text to truncate, e.g.:
 *
   `@include truncate(100%);`
 *
 * Where `$truncation-boundary` is a united measurement.
 */
/**
 * CSS arrows!!! But... before you read on, you might want to grab a coffee...
 *
 * This mixin creates a CSS arrow on a given element. We can have the arrow
 * appear in one of 12 locations, thus:
 *
 *       01    02    03
 *    +------------------+
 * 12 |                  | 04
 *    |                  |
 * 11 |                  | 05
 *    |                  |
 * 10 |                  | 06
 *    +------------------+
 *       09    08    07
 *
 * You pass this position in along with a desired arrow color and optional
 * border color, for example:
 *
 * `@include arrow(top, left, red)`
 *
 * for just a single, red arrow, or:
 *
 * `@include arrow(bottom, center, red, black)`
 *
 * which will create a red triangle with a black border which sits at the bottom
 * center of the element. Call the mixin thus:
 *
   .foo{
       background-color:#BADA55;
       border:1px solid #ACE;
       @include arrow(top, left, #BADA55, #ACE);
   }
 *
 */
/**
 * Media query mixin.
 *
 * It’s not great practice to define solid breakpoints up-front, preferring to
 * modify your design when it needs it, rather than assuming you’ll want a
 * change at ‘mobile’. However, as inuit.css is required to take a hands off
 * approach to design decisions, this is the closest we can get to baked-in
 * responsiveness. It’s flexible enough to allow you to set your own breakpoints
 * but solid enough to be frameworkified.
 *
 * We define some broad breakpoints in our vars file that are picked up here
 * for use in a simple media query mixin. Our options are:
 *
 * palm
 * lap
 * lap-and-up
 * portable
 * desk
 * desk-wide
 *
 * Not using a media query will, naturally, serve styles to all devices.
 *
 * `@include media-query(palm){ [styles here] }`
 *
 * We work out your end points for you:
 */
/*------------------------------------*\
    $CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf:after,
.row:after,
.woocommerce .col2-set:after,
.nav:after,
.cart-form:after,
.woocommerce:after
{
    display: table;
    clear: both;

    content: '';
}

/*------------------------------------*\
    $SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned, this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
/**
 * Base elements
 */
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre,
.media,
.island,
.islet
{
    margin-bottom: 24px;
    margin-bottom: 1.33333rem;
}
.islet h1,
.islet h2,
.islet h3,
.islet h4,
.islet h5,
.islet h6,
.islet hgroup,
.islet
ul,
.islet ol,
.islet dl,
.islet
blockquote,
.islet p,
.islet address,
.islet
table,
.islet
fieldset,
.islet figure,
.islet
pre,
.islet
.media,
.islet
.island,
.islet
.islet
{
    margin-bottom: 12px;
    margin-bottom: .66667rem;
}

/**
 * Doubled up `margin-bottom` helper class.
 */
.landmark
{
    margin-bottom: 48px;
    margin-bottom: 2.66667rem;
}

/**
 * `hr` elements only take up a few pixels, so we need to give them special
 * treatment regarding vertical rhythm.
 */
hr
{
    margin-bottom: 22px;
    margin-bottom: 1.22222rem;
}

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul,
ol,
dd
{
    margin-left: 24px;
    margin-left: 1.33333rem;
}

.span-1,
.col-1
{
    width: 8.33333%;
}

.span-2,
.col-2
{
    width: 16.66667%;
}

.span-3,
.col-3
{
    width: 25%;
}

.span-4,
.col-4
{
    width: 33.33333%;
}

.span-5,
.col-5
{
    width: 41.66667%;
}

.span-6,
.woocommerce .col2-set .col-1,
.col-6
{
    width: 50%;
}

.span-7,
.col-7
{
    width: 58.33333%;
}

.span-8,
.col-8
{
    width: 66.66667%;
}

.span-9,
.col-9
{
    width: 75%;
}

.span-10,
.col-10
{
    width: 83.33333%;
}

.span-11,
.col-11
{
    width: 91.66667%;
}

.span-12,
.col-12,
.projects_nav
{
    width: 100%;
}

@media only screen and (min-width: 601px)
{
    .small-span-1
    {
        width: 8.33333%;
    }
}
@media only screen and (min-width: 601px)
{
    .small-span-2
    {
        width: 16.66667%;
    }
}
@media only screen and (min-width: 601px)
{
    .small-span-3
    {
        width: 25%;
    }
}
@media only screen and (min-width: 601px)
{
    .small-span-4
    {
        width: 33.33333%;
    }
}
@media only screen and (min-width: 601px)
{
    .small-span-5
    {
        width: 41.66667%;
    }
}
@media only screen and (min-width: 601px)
{
    .small-span-6
    {
        width: 50%;
    }
}
@media only screen and (min-width: 601px)
{
    .small-span-7
    {
        width: 58.33333%;
    }
}
@media only screen and (min-width: 601px)
{
    .small-span-8
    {
        width: 66.66667%;
    }
}
@media only screen and (min-width: 601px)
{
    .small-span-9
    {
        width: 75%;
    }
}
@media only screen and (min-width: 601px)
{
    .small-span-10
    {
        width: 83.33333%;
    }
}
@media only screen and (min-width: 601px)
{
    .small-span-11
    {
        width: 91.66667%;
    }
}
@media only screen and (min-width: 601px)
{
    .small-span-12
    {
        width: 100%;
    }
}
@media only screen and (min-width: 901px)
{
    .hand-span-1
    {
        width: 8.33333%;
    }
}
@media only screen and (min-width: 901px)
{
    .hand-span-2
    {
        width: 16.66667%;
    }
}
@media only screen and (min-width: 901px)
{
    .hand-span-3
    {
        width: 25%;
    }
}
@media only screen and (min-width: 901px)
{
    .hand-span-4
    {
        width: 33.33333%;
    }
}
@media only screen and (min-width: 901px)
{
    .hand-span-5
    {
        width: 41.66667%;
    }
}
@media only screen and (min-width: 901px)
{
    .hand-span-6,
    .projects_nav
    {
        width: 50%;
    }
}
@media only screen and (min-width: 901px)
{
    .hand-span-7
    {
        width: 58.33333%;
    }
}
@media only screen and (min-width: 901px)
{
    .hand-span-8
    {
        width: 66.66667%;
    }
}
@media only screen and (min-width: 901px)
{
    .hand-span-9
    {
        width: 75%;
    }
}
@media only screen and (min-width: 901px)
{
    .hand-span-10
    {
        width: 83.33333%;
    }
}
@media only screen and (min-width: 901px)
{
    .hand-span-11
    {
        width: 91.66667%;
    }
}
@media only screen and (min-width: 901px)
{
    .hand-span-12
    {
        width: 100%;
    }
}
@media only screen and (min-width: 1201px)
{
    .lap-span-1
    {
        width: 8.33333%;
    }
}
@media only screen and (min-width: 1201px)
{
    .lap-span-2
    {
        width: 16.66667%;
    }
}
@media only screen and (min-width: 1201px)
{
    .lap-span-3
    {
        width: 25%;
    }
}
@media only screen and (min-width: 1201px)
{
    .lap-span-4
    {
        width: 33.33333%;
    }
}
@media only screen and (min-width: 1201px)
{
    .lap-span-5
    {
        width: 41.66667%;
    }
}
@media only screen and (min-width: 1201px)
{
    .lap-span-6
    {
        width: 50%;
    }
}
@media only screen and (min-width: 1201px)
{
    .lap-span-7
    {
        width: 58.33333%;
    }
}
@media only screen and (min-width: 1201px)
{
    .lap-span-8
    {
        width: 66.66667%;
    }
}
@media only screen and (min-width: 1201px)
{
    .lap-span-9
    {
        width: 75%;
    }
}
@media only screen and (min-width: 1201px)
{
    .lap-span-10
    {
        width: 83.33333%;
    }
}
@media only screen and (min-width: 1201px)
{
    .lap-span-11
    {
        width: 91.66667%;
    }
}
@media only screen and (min-width: 1201px)
{
    .lap-span-12
    {
        width: 100%;
    }
}
@media only screen and (min-width: 1881px)
{
    .desk-span-1
    {
        width: 8.33333%;
    }
}
@media only screen and (min-width: 1881px)
{
    .desk-span-2
    {
        width: 16.66667%;
    }
}
@media only screen and (min-width: 1881px)
{
    .desk-span-3
    {
        width: 25%;
    }
}
@media only screen and (min-width: 1881px)
{
    .desk-span-4
    {
        width: 33.33333%;
    }
}
@media only screen and (min-width: 1881px)
{
    .desk-span-5
    {
        width: 41.66667%;
    }
}
@media only screen and (min-width: 1881px)
{
    .desk-span-6
    {
        width: 50%;
    }
}
@media only screen and (min-width: 1881px)
{
    .desk-span-7
    {
        width: 58.33333%;
    }
}
@media only screen and (min-width: 1881px)
{
    .desk-span-8
    {
        width: 66.66667%;
    }
}
@media only screen and (min-width: 1881px)
{
    .desk-span-9
    {
        width: 75%;
    }
}
@media only screen and (min-width: 1881px)
{
    .desk-span-10
    {
        width: 83.33333%;
    }
}
@media only screen and (min-width: 1881px)
{
    .desk-span-11
    {
        width: 91.66667%;
    }
}
@media only screen and (min-width: 1881px)
{
    .desk-span-12
    {
        width: 100%;
    }
}
.offset-1
{
    margin-left: 8.33333%;
}

.push-1
{
    left: 8.33333%;
}

.pull-1
{
    left: -8.33333%;
}

.offset-2
{
    margin-left: 16.66667%;
}

.push-2
{
    left: 16.66667%;
}

.pull-2
{
    left: -16.66667%;
}

.offset-3
{
    margin-left: 25%;
}

.push-3
{
    left: 25%;
}

.pull-3
{
    left: -25%;
}

.offset-4
{
    margin-left: 33.33333%;
}

.push-4
{
    left: 33.33333%;
}

.pull-4
{
    left: -33.33333%;
}

.offset-5
{
    margin-left: 41.66667%;
}

.push-5
{
    left: 41.66667%;
}

.pull-5
{
    left: -41.66667%;
}

.offset-6
{
    margin-left: 50%;
}

.push-6
{
    left: 50%;
}

.pull-6
{
    left: -50%;
}

.offset-7
{
    margin-left: 58.33333%;
}

.push-7
{
    left: 58.33333%;
}

.pull-7
{
    left: -58.33333%;
}

.offset-8
{
    margin-left: 66.66667%;
}

.push-8
{
    left: 66.66667%;
}

.pull-8
{
    left: -66.66667%;
}

.offset-9
{
    margin-left: 75%;
}

.push-9
{
    left: 75%;
}

.pull-9
{
    left: -75%;
}

.offset-10
{
    margin-left: 83.33333%;
}

.push-10
{
    left: 83.33333%;
}

.pull-10
{
    left: -83.33333%;
}

.offset-11
{
    margin-left: 91.66667%;
}

.push-11
{
    left: 91.66667%;
}

.pull-11
{
    left: -91.66667%;
}

.offset-12
{
    margin-left: 100%;
}

.push-12
{
    left: 100%;
}

.pull-12
{
    left: -100%;
}

@media only screen and (min-width: 601px)
{
    .small-col-1
    {
        width: 8.33333%;
    }

    .small-offset-1
    {
        margin-left: 8.33333%;
    }

    .small-push-1
    {
        left: 8.33333%;
    }

    .small-pull-1
    {
        left: -8.33333%;
    }

    .small-col-2
    {
        width: 16.66667%;
    }

    .small-offset-2
    {
        margin-left: 16.66667%;
    }

    .small-push-2
    {
        left: 16.66667%;
    }

    .small-pull-2
    {
        left: -16.66667%;
    }

    .small-col-3
    {
        width: 25%;
    }

    .small-offset-3
    {
        margin-left: 25%;
    }

    .small-push-3
    {
        left: 25%;
    }

    .small-pull-3
    {
        left: -25%;
    }

    .small-col-4
    {
        width: 33.33333%;
    }

    .small-offset-4
    {
        margin-left: 33.33333%;
    }

    .small-push-4
    {
        left: 33.33333%;
    }

    .small-pull-4
    {
        left: -33.33333%;
    }

    .small-col-5
    {
        width: 41.66667%;
    }

    .small-offset-5
    {
        margin-left: 41.66667%;
    }

    .small-push-5
    {
        left: 41.66667%;
    }

    .small-pull-5
    {
        left: -41.66667%;
    }

    .small-col-6
    {
        width: 50%;
    }

    .small-offset-6
    {
        margin-left: 50%;
    }

    .small-push-6
    {
        left: 50%;
    }

    .small-pull-6
    {
        left: -50%;
    }

    .small-col-7
    {
        width: 58.33333%;
    }

    .small-offset-7
    {
        margin-left: 58.33333%;
    }

    .small-push-7
    {
        left: 58.33333%;
    }

    .small-pull-7
    {
        left: -58.33333%;
    }

    .small-col-8
    {
        width: 66.66667%;
    }

    .small-offset-8
    {
        margin-left: 66.66667%;
    }

    .small-push-8
    {
        left: 66.66667%;
    }

    .small-pull-8
    {
        left: -66.66667%;
    }

    .small-col-9
    {
        width: 75%;
    }

    .small-offset-9
    {
        margin-left: 75%;
    }

    .small-push-9
    {
        left: 75%;
    }

    .small-pull-9
    {
        left: -75%;
    }

    .small-col-10
    {
        width: 83.33333%;
    }

    .small-offset-10
    {
        margin-left: 83.33333%;
    }

    .small-push-10
    {
        left: 83.33333%;
    }

    .small-pull-10
    {
        left: -83.33333%;
    }

    .small-col-11
    {
        width: 91.66667%;
    }

    .small-offset-11
    {
        margin-left: 91.66667%;
    }

    .small-push-11
    {
        left: 91.66667%;
    }

    .small-pull-11
    {
        left: -91.66667%;
    }

    .small-col-12
    {
        width: 100%;
    }

    .small-offset-12
    {
        margin-left: 100%;
    }

    .small-push-12
    {
        left: 100%;
    }

    .small-pull-12
    {
        left: -100%;
    }
}
@media only screen and (min-width: 901px)
{
    .hand-col-1
    {
        width: 8.33333%;
    }

    .hand-offset-1
    {
        margin-left: 8.33333%;
    }

    .hand-push-1
    {
        left: 8.33333%;
    }

    .hand-pull-1
    {
        left: -8.33333%;
    }

    .hand-col-2
    {
        width: 16.66667%;
    }

    .hand-offset-2
    {
        margin-left: 16.66667%;
    }

    .hand-push-2
    {
        left: 16.66667%;
    }

    .hand-pull-2
    {
        left: -16.66667%;
    }

    .hand-col-3
    {
        width: 25%;
    }

    .hand-offset-3
    {
        margin-left: 25%;
    }

    .hand-push-3
    {
        left: 25%;
    }

    .hand-pull-3
    {
        left: -25%;
    }

    .hand-col-4
    {
        width: 33.33333%;
    }

    .hand-offset-4
    {
        margin-left: 33.33333%;
    }

    .hand-push-4
    {
        left: 33.33333%;
    }

    .hand-pull-4
    {
        left: -33.33333%;
    }

    .hand-col-5
    {
        width: 41.66667%;
    }

    .hand-offset-5
    {
        margin-left: 41.66667%;
    }

    .hand-push-5
    {
        left: 41.66667%;
    }

    .hand-pull-5
    {
        left: -41.66667%;
    }

    .hand-col-6
    {
        width: 50%;
    }

    .hand-offset-6
    {
        margin-left: 50%;
    }

    .hand-push-6
    {
        left: 50%;
    }

    .hand-pull-6
    {
        left: -50%;
    }

    .hand-col-7
    {
        width: 58.33333%;
    }

    .hand-offset-7
    {
        margin-left: 58.33333%;
    }

    .hand-push-7
    {
        left: 58.33333%;
    }

    .hand-pull-7
    {
        left: -58.33333%;
    }

    .hand-col-8
    {
        width: 66.66667%;
    }

    .hand-offset-8
    {
        margin-left: 66.66667%;
    }

    .hand-push-8
    {
        left: 66.66667%;
    }

    .hand-pull-8
    {
        left: -66.66667%;
    }

    .hand-col-9
    {
        width: 75%;
    }

    .hand-offset-9
    {
        margin-left: 75%;
    }

    .hand-push-9
    {
        left: 75%;
    }

    .hand-pull-9
    {
        left: -75%;
    }

    .hand-col-10
    {
        width: 83.33333%;
    }

    .hand-offset-10
    {
        margin-left: 83.33333%;
    }

    .hand-push-10
    {
        left: 83.33333%;
    }

    .hand-pull-10
    {
        left: -83.33333%;
    }

    .hand-col-11
    {
        width: 91.66667%;
    }

    .hand-offset-11
    {
        margin-left: 91.66667%;
    }

    .hand-push-11
    {
        left: 91.66667%;
    }

    .hand-pull-11
    {
        left: -91.66667%;
    }

    .hand-col-12
    {
        width: 100%;
    }

    .hand-offset-12
    {
        margin-left: 100%;
    }

    .hand-push-12
    {
        left: 100%;
    }

    .hand-pull-12
    {
        left: -100%;
    }
}
@media only screen and (min-width: 1201px)
{
    .lap-col-1
    {
        width: 8.33333%;
    }

    .lap-offset-1
    {
        margin-left: 8.33333%;
    }

    .lap-push-1
    {
        left: 8.33333%;
    }

    .lap-pull-1
    {
        left: -8.33333%;
    }

    .lap-col-2
    {
        width: 16.66667%;
    }

    .lap-offset-2
    {
        margin-left: 16.66667%;
    }

    .lap-push-2
    {
        left: 16.66667%;
    }

    .lap-pull-2
    {
        left: -16.66667%;
    }

    .lap-col-3
    {
        width: 25%;
    }

    .lap-offset-3
    {
        margin-left: 25%;
    }

    .lap-push-3
    {
        left: 25%;
    }

    .lap-pull-3
    {
        left: -25%;
    }

    .lap-col-4
    {
        width: 33.33333%;
    }

    .lap-offset-4
    {
        margin-left: 33.33333%;
    }

    .lap-push-4
    {
        left: 33.33333%;
    }

    .lap-pull-4
    {
        left: -33.33333%;
    }

    .lap-col-5
    {
        width: 41.66667%;
    }

    .lap-offset-5
    {
        margin-left: 41.66667%;
    }

    .lap-push-5
    {
        left: 41.66667%;
    }

    .lap-pull-5
    {
        left: -41.66667%;
    }

    .lap-col-6
    {
        width: 50%;
    }

    .lap-offset-6
    {
        margin-left: 50%;
    }

    .lap-push-6
    {
        left: 50%;
    }

    .lap-pull-6
    {
        left: -50%;
    }

    .lap-col-7
    {
        width: 58.33333%;
    }

    .lap-offset-7
    {
        margin-left: 58.33333%;
    }

    .lap-push-7
    {
        left: 58.33333%;
    }

    .lap-pull-7
    {
        left: -58.33333%;
    }

    .lap-col-8
    {
        width: 66.66667%;
    }

    .lap-offset-8
    {
        margin-left: 66.66667%;
    }

    .lap-push-8
    {
        left: 66.66667%;
    }

    .lap-pull-8
    {
        left: -66.66667%;
    }

    .lap-col-9
    {
        width: 75%;
    }

    .lap-offset-9
    {
        margin-left: 75%;
    }

    .lap-push-9
    {
        left: 75%;
    }

    .lap-pull-9
    {
        left: -75%;
    }

    .lap-col-10
    {
        width: 83.33333%;
    }

    .lap-offset-10
    {
        margin-left: 83.33333%;
    }

    .lap-push-10
    {
        left: 83.33333%;
    }

    .lap-pull-10
    {
        left: -83.33333%;
    }

    .lap-col-11
    {
        width: 91.66667%;
    }

    .lap-offset-11
    {
        margin-left: 91.66667%;
    }

    .lap-push-11
    {
        left: 91.66667%;
    }

    .lap-pull-11
    {
        left: -91.66667%;
    }

    .lap-col-12
    {
        width: 100%;
    }

    .lap-offset-12
    {
        margin-left: 100%;
    }

    .lap-push-12
    {
        left: 100%;
    }

    .lap-pull-12
    {
        left: -100%;
    }
}
@media only screen and (min-width: 1881px)
{
    .desk-col-1
    {
        width: 8.33333%;
    }

    .desk-offset-1
    {
        margin-left: 8.33333%;
    }

    .desk-push-1
    {
        left: 8.33333%;
    }

    .desk-pull-1
    {
        left: -8.33333%;
    }

    .desk-col-2
    {
        width: 16.66667%;
    }

    .desk-offset-2
    {
        margin-left: 16.66667%;
    }

    .desk-push-2
    {
        left: 16.66667%;
    }

    .desk-pull-2
    {
        left: -16.66667%;
    }

    .desk-col-3
    {
        width: 25%;
    }

    .desk-offset-3
    {
        margin-left: 25%;
    }

    .desk-push-3
    {
        left: 25%;
    }

    .desk-pull-3
    {
        left: -25%;
    }

    .desk-col-4
    {
        width: 33.33333%;
    }

    .desk-offset-4
    {
        margin-left: 33.33333%;
    }

    .desk-push-4
    {
        left: 33.33333%;
    }

    .desk-pull-4
    {
        left: -33.33333%;
    }

    .desk-col-5
    {
        width: 41.66667%;
    }

    .desk-offset-5
    {
        margin-left: 41.66667%;
    }

    .desk-push-5
    {
        left: 41.66667%;
    }

    .desk-pull-5
    {
        left: -41.66667%;
    }

    .desk-col-6
    {
        width: 50%;
    }

    .desk-offset-6
    {
        margin-left: 50%;
    }

    .desk-push-6
    {
        left: 50%;
    }

    .desk-pull-6
    {
        left: -50%;
    }

    .desk-col-7
    {
        width: 58.33333%;
    }

    .desk-offset-7
    {
        margin-left: 58.33333%;
    }

    .desk-push-7
    {
        left: 58.33333%;
    }

    .desk-pull-7
    {
        left: -58.33333%;
    }

    .desk-col-8
    {
        width: 66.66667%;
    }

    .desk-offset-8
    {
        margin-left: 66.66667%;
    }

    .desk-push-8
    {
        left: 66.66667%;
    }

    .desk-pull-8
    {
        left: -66.66667%;
    }

    .desk-col-9
    {
        width: 75%;
    }

    .desk-offset-9
    {
        margin-left: 75%;
    }

    .desk-push-9
    {
        left: 75%;
    }

    .desk-pull-9
    {
        left: -75%;
    }

    .desk-col-10
    {
        width: 83.33333%;
    }

    .desk-offset-10
    {
        margin-left: 83.33333%;
    }

    .desk-push-10
    {
        left: 83.33333%;
    }

    .desk-pull-10
    {
        left: -83.33333%;
    }

    .desk-col-11
    {
        width: 91.66667%;
    }

    .desk-offset-11
    {
        margin-left: 91.66667%;
    }

    .desk-push-11
    {
        left: 91.66667%;
    }

    .desk-pull-11
    {
        left: -91.66667%;
    }

    .desk-col-12
    {
        width: 100%;
    }

    .desk-offset-12
    {
        margin-left: 100%;
    }

    .desk-push-12
    {
        left: 100%;
    }

    .desk-pull-12
    {
        left: -100%;
    }
}
.row,
.woocommerce .col2-set
{
    margin-left: -24px;
    margin-left: -1.5rem;
}

.column,
.columns,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12
{
    position: relative;

    float: left;

    min-height: 1px;

    border-left: 0 solid transparent;
    border-left-width: 24px;
    border-left-width: 1.5rem;
}

/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 * e.g.:
 *
   <ul class=nav>
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 * Demo: jsfiddle.net/inuitcss/Vnph4
 *
 */
.nav
{
    margin-left: 0;

    list-style: none;
}
.nav > li,
.nav > li > a
{
    display: inline-block;
    zoom: 1;

    *display: inline;
}

/**
 * `.nav--stacked` extends `.nav` and throws the list into vertical mode, e.g.:
 *
   <ul class="nav  nav--stacked">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
.nav--stacked > li
{
    display: list-item;
}
.nav--stacked > li > a
{
    display: block;
}

/**
 * `.nav--banner` extends `.nav` and centres the list, e.g.:
 *
   <ul class="nav  nav--banner">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
.nav--banner
{
    text-align: center;
}

/**
 * Give nav links a big, blocky hit area. Extends `.nav`, e.g.:
 *
   <ul class="nav  nav--block">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
.nav--block
{
    line-height: 1;

    white-space: nowrap;
    /**
   * Remove whitespace caused by `inline-block`.
   */
    letter-spacing: -.31em;
    word-spacing: -.43em;
}
.nav--block > li
{
    letter-spacing: normal;
    word-spacing: normal;
}
.nav--block > li > a
{
    padding: 12px;
    padding: .66667rem;
}

/**
 * Force a nav to occupy 100% of the available width of its parent. Extends
 * `.nav`, e.g.:
 *
   <ul class="nav  nav--fit">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 * Thanks to @pimpl for this idea!
 */
.nav--fit
{
    display: table;

    width: 100%;
}
.nav--fit > li
{
    display: table-cell;
}
.nav--fit > li > a
{
    display: block;
}

/**
 * Make a list of keywords. Extends `.nav`, e.g.:
 *
   `<ul class="nav  nav--keywords>`
 *
 */
.nav--keywords > li:after
{
    content: '\002C' '\00A0';
}
.nav--keywords > li:last-child:after
{
    display: none;
}

.page-template-template-shop-php #page
{
    background: #0f0f10;
}
.page-template-template-shop-php .content,
.page-template-template-shop-php .masonry,
.page-template-template-shop-php .masonry__pagination
{
    background: transparent !important;
}

/*----------------------------------------*\
    $PRODUCT-ARTICLE
\*----------------------------------------*/
.article--product
{
    position: relative;

    background: transparent;
}

.product__link
{
    height: 100%;

    text-decoration: none;
}

.woocommerce a.added_to_cart,
.woocommerce-page a.added_to_cart
{
    position: absolute;
    right: 24px;
    bottom: 24px;
}
@media not screen and (min-width: 900px)
{
    .woocommerce a.added_to_cart,
    .woocommerce-page a.added_to_cart
    {
        right: 48px;
        bottom: 12px;
    }
}

.product__container
{
    padding: 12px;
}
.product__container .product__add-to-cart,
.product__container form.cart
{
    position: absolute;
    right: 12px;
    bottom: 12px;
}

.woocommerce button.button.alt.single_add_to_cart_button
{
    color: black;
    border: 0;
    background: none;
    box-shadow: none;
}
.woocommerce button.button.alt.single_add_to_cart_button:before
{
    content: none;
}

.product__title
{
    font-size: 26px;
    font-size: 1.44444rem;
    font-weight: normal;
    line-height: 1.38472;

    text-transform: uppercase;
}

.product__price
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-size: .88889rem;
    font-weight: bold;
    line-height: 1.5001;
}

.product__badge
{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;

    position: absolute;
    z-index: 5;
    top: 24px;
    right: 0;

    padding: 6px 12px;

    text-transform: uppercase;

    background-color: #fffc00;
}

.product__out-of-stock
{
    font-weight: 300;

    background-color: #242423;
}

.article--product.outofstock .product__image-wrapper
{
    opacity: .5;
}

.product__image-wrapper
{
    position: relative;
}
.product__image-wrapper img
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: auto;
}

.btn--out-of-stock
{
    font-family: 'Josefin Slab', sans-serif;
    font-weight: bold;

    display: inline-block;

    margin-top: 10px;

    text-decoration: underline;
    text-transform: uppercase;

    color: #0f0f10;
}

@media only screen and (min-width: 900px)
{
    .product__container
    {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        padding: 0;

        transition: all .3s linear;
        text-align: center;

        opacity: 0;
        background-color: transparent;
    }
    .product__container .product__add-to-cart,
    .product__container form.cart
    {
        right: auto;
        bottom: 24px;
        left: 24px;
    }
    .product__container .product__add-to-cart
    {
        text-decoration: none;
    }
    .product__container .product__add-to-cart:after
    {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-size: .66667rem;
        line-height: 1.0001;

        margin-left: 5px;

        content: 'Add to cart';
        transition: all .2s linear;
        -webkit-transform: translateX(-25px);
                transform: translateX(-25px);
        text-transform: uppercase;

        opacity: 0;
    }
    .product__container .product__add-to-cart:hover:after
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);

        opacity: 1;
    }

    .product__badge
    {
        top: 0;
    }

    .btn--out-of-stock
    {
        position: absolute;
        right: 24px;
        bottom: 24px;
        left: 24px;
    }

    /**
   * On hover, the title, price and "Add to cart" appear
   */
    .article--product:hover .product__container
    {
        transition: all .3s linear;

        opacity: 1;
        background-color: rgba(255, 252, 0, .7);
    }
}
/*----------------------------------------*\
    $CART ICON
\*----------------------------------------*/
.cart-button__wrapper
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    position: relative;
    z-index: 100;
}

.cart-button
{
    width: 100%;
    padding-top: 12px;
    padding-right: 0;
    padding-bottom: 12px;
    padding-left: 0;

    cursor: pointer;
    text-align: center;

    color: white;
    background: rgba(0, 0, 0, .8);
}
.cart-button i
{
    font-size: 19px;
    line-height: 35px;

    margin-left: 10px;

    text-align: center;
}
.cart-button ul
{
    position: absolute;
    z-index: 100;
    top: 100%;
    right: 0;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 0;
    margin-bottom: 0;

    transition: all .15s linear;

    opacity: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, .8);
}

@media only screen and (min-width: 900px)
{
    .cart-button__wrapper
    {
        position: fixed;
        right: 24px;
        bottom: 24px;
    }
}
/*----------------------------------------*\
    $IMAGES
\*----------------------------------------*/
.single-product .images a
{
    display: block;

    margin-bottom: 24px;
}
.single-product .images img
{
    display: block;
}

/*----------------------------------------*\
    $ORDER FORM
\*----------------------------------------*/
.single-product .form-cart
{
    margin-bottom: 24px;
}

.single-product__price
{
    font-family: 'Josefin Slab', serif;
    font-size: 26px;
    font-size: 1.44444rem;
    font-weight: bold;
    line-height: 1.38472;

    display: block;

    color: #222223;
}

.shop__label
{
    font-size: 14px;
    font-size: .77778rem;
    font-style: italic;
    line-height: 1.71439;
}

.shop__select,
.shop__input--text
{
    font-size: 16px;
    font-size: .88889rem;
    line-height: 1.5001;

    padding: 6px;
}

.shopping--single-product #product-quantity
{
    width: 48px;
}

.reset_variations
{
    margin-top: 23px;
}

.single-product .entry__meta-box
{
    margin-right: 0;
}

.single-product .meta-box--categories a
{
    display: inline-block;

    text-transform: capitalize;
}

@media only screen and (min-width: 900px)
{
    .button-sale--single
    {
        position: absolute;
        top: 48px;
        left: 48px;
    }
}
.single-product .project--sidebar__images
{
    position: relative;
}
.single-product .woocommerce-message
{
    position: relative;
}
.single-product .woocommerce-message i
{
    float: left;
}
.single-product .woocommerce-message .btn,
.single-product .woocommerce-message .wc-forward a,
.wc-forward .single-product .woocommerce-message a,
.single-product .woocommerce-message .wc-forward
{
    line-height: 2.65;

    position: absolute;
    top: 3px;
    right: 3px;

    display: none;

    height: 36px;
}
.single-product .woocommerce-message .btn:hover,
.single-product .woocommerce-message .wc-forward a:hover,
.wc-forward .single-product .woocommerce-message a:hover,
.single-product .woocommerce-message .wc-forward:hover
{
    text-shadow: none;
}
.single-product .woocommerce-message p
{
    margin: 12px 5px;
}
.single-product label
{
    display: block !important;
}
@media not screen and (min-width: 900px)
{
    .single-product .variations .span-6,
    .single-product .variations .woocommerce .col2-set .col-1,
    .woocommerce .col2-set .single-product .variations .col-1
    {
        width: 100%;
        margin-bottom: 24px;
    }
}

.woocommerce .single-product-stock
{
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.single-product .single-product-stock
{
    font-family: 'Josefin Slab', serif;
    font-weight: bold;

    position: static;

    display: block;

    margin-bottom: 24px;
}
.single-product .single-product-stock.out-of-stock
{
    text-decoration: underline;
}

.wc-forward a:after,
.wc-forward:after
{
    content: none;
}

.wc-forward a,
.wc-forward
{
    border: 0;
    background: none;
}

/*----------------------------------------*\
    $CART PAGE
\*----------------------------------------*/
.woocommerce-page
{
    /* Products table */
    /* Cart Totals */
    /* Cart Buttons */
    /* Cart Totals2 */
    /* Shipping Calculator */
}
.woocommerce-page .woocommerce table.shop_table
{
    border-collapse: separate;

    border: 0;
}
.woocommerce-page .woocommerce table.shop_table th,
.woocommerce-page .woocommerce table.shop_table td
{
    padding-right: 0;
    padding-left: 0;

    border-top: 0;
    border-right: 1px solid transparent;
    border-bottom: 1px dotted #b2b1b2;
    border-left: 1px solid transparent;
}
.woocommerce-page .woocommerce table.shop_table td
{
    padding: 12px 0;
}
.woocommerce-page .woocommerce table.shop_table th
{
    font-size: 16px;
    font-size: .88889rem;
    font-weight: normal;
    font-style: italic;
    line-height: 1.5001;
}
.woocommerce-page .woocommerce table.shop_table .product-thumbnail
{
    width: 96px;
    padding-left: 0;
}
.woocommerce-page .woocommerce table.shop_table .product-thumbnail img
{
    display: block;

    width: 62px;
}
.woocommerce-page .woocommerce table.shop_table .product-name
{
    padding-left: 0;

    text-align: left;
}
.woocommerce-page .woocommerce table.shop_table .product-subtotal,
.woocommerce-page .woocommerce table.shop_table .product-quantity
{
    min-width: 85px;

    text-align: right;
}
.woocommerce-page .woocommerce table.shop_table .product-subtotal
{
    width: 24%;
}
.woocommerce-page .woocommerce table.shop_table .product-quantity
{
    width: 15%;
}
.woocommerce-page .woocommerce table.shop_table .quantity
{
    margin-right: 0;
}
.woocommerce-page .woocommerce table.shop_table .product-remove a
{
    font-family: Arial;
    font-size: 16px;

    width: 100%;
    padding: 16px 12px 30px;

    text-align: right;

    opacity: .7;
}
.woocommerce-page .woocommerce table.shop_table .product-remove a:hover
{
    opacity: 1;
}
@media only screen and (min-width: 900px)
{
    .woocommerce-page .woocommerce table.shop_table .product-remove
    {
        width: 78px;
    }
}
.woocommerce-page .woocommerce table.shop_table .input-text
{
    width: 56px;

    text-align: center;
}
.woocommerce-page .woocommerce table.shop_table dl.variation dt,
.woocommerce-page .woocommerce table.shop_table dl.variation dd
{
    display: inline-block;
    float: none;
}
.woocommerce-page .woocommerce table.shop_table:not(.cart) th
{
    font-size: .72222rem;
    font-style: normal;
}
.woocommerce-page .product-name a,
.woocommerce-page .amount,
.woocommerce-page .from
{
    font-weight: bold;

    text-decoration: none;

    color: #242423;
}
.woocommerce-page .price ins
{
    border-bottom: 0;
}
.woocommerce-page.single-product .page-content .amount
{
    font-family: 'Josefin Slab', serif;
    font-size: 26px;
    font-size: 1.44444rem;
    line-height: 1.38472;
}
.woocommerce-page .product__price .amount
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-size: .88889rem;
    line-height: 1.5001;
}
.woocommerce-page .woocommerce table.cart input[type='submit']
{
    line-height: 3;
}
.woocommerce-page .woocommerce table.cart a.remove
{
    color: #595957;
}
.woocommerce-page .woocommerce table.cart a.remove:hover
{
    color: #242423;
    background: transparent;
}
.woocommerce-page .woocommerce table.shop_table .cart-totals,
.woocommerce-page .woocommerce table.shop_table .cart-totals td
{
    padding-top: 12px;
    padding-bottom: 12px;

    text-align: right;
}
.woocommerce-page .woocommerce table.shop_table .cart-totals td.spacer
{
    border-bottom: 1px solid transparent;
}
.woocommerce-page .woocommerce table.shop_table .cart-totals.total-row td
{
    padding: 24px 0;

    border-bottom: 1px dotted #b2b1b2;
}
.woocommerce-page .woocommerce table.shop_table .cart-totals.total-row td.spacer
{
    border: none;
}
.woocommerce-page .woocommerce table.shop_table .cart-totals input[type='radio']
{
    float: right;

    margin-right: -24px;
}
.woocommerce-page .woocommerce table.shop_table .cart-buttons td
{
    border: none;
}
.woocommerce-page .cart_totals2 td,
.woocommerce-page .cart_totals2 th
{
    width: 50%;

    border: 0 !important;
}
.woocommerce-page .cart_totals2 .total-row
{
    border-top: 1px dotted #242423;
    border-bottom: 1px dotted #242423;
}
.woocommerce-page .cart_totals2 .spacer
{
    width: 45px;
}
.woocommerce-page .cart_totals2 td,
.woocommerce-page .cart_totals2 th
{
    text-align: right;
}
.woocommerce-page .light
{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;

    text-decoration: none;
    text-transform: uppercase;

    color: #807f7d;
}
.woocommerce-page .strong
{
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: bold;

    padding-top: 24px;
    padding-bottom: 24px;

    text-transform: uppercase;

    color: #242423;
}
.woocommerce-page .strong .amount
{
    font-size: 30px;
}

/*----------------------------------------*\
    $CART WIDGET
\*----------------------------------------*/
.cart--widget .cart__btn .pixcode--icon
{
    position: relative;
}
.cart--widget .cart__btn .cart-text
{
    margin: 0 1em;
}
.cart--widget .cart__btn .cart-size
{
    font-size: 9px;
    line-height: 13px;

    position: absolute;
    top: 0;
    right: -10px;

    width: 14px;
    height: 15px;

    color: black;
    border-radius: 50%;
    background-color: #fffc00;
}
.cart--widget .cart__btn i
{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
.cart--widget .cart__btn.sticky-button--active .cart-size
{
    color: black;
}
.cart--widget .cart-item:last-child
{
    padding-bottom: 12px;
}
.cart--widget .cart-link
{
    line-height: 1.3;

    text-decoration: none;
    text-transform: none;

    color: white;
}
.cart--widget .cart-link:hover
{
    color: #fffc00;
}
.cart--widget .cart-total
{
    display: block;

    padding: 4px 0 2px;
}
@media only screen and (min-width: 900px)
{
    .cart--widget .cart__btn .pixcode--icon .cart-size
    {
        top: auto;
        right: -5px;
        bottom: -5px;

        padding-top: 1px;
    }
    .cart--widget ul
    {
        top: auto;
        bottom: 35px;
        bottom: 1.94444rem;
    }
    .cart--widget ul li
    {
        padding-left: 1.5em;
    }
}

.shipping_calculator
{
    float: right;
}

.cart_totals table td,
.cart_totals table th
{
    border-bottom: 1px dotted #b2b1b2;
}
.cart_totals table th
{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-size: .72222rem;
    font-weight: lighter;
    line-height: 1.84625;

    text-transform: uppercase;
}
.cart_totals table .order-total th,
.cart_totals table .order-total td
{
    font-family: 'Josefin Slab', serif;
    font-size: 20px !important;
    font-weight: bold !important;
}

body.woocommerce-cart .wc-proceed-to-checkout
{
    float: right;

    max-width: 300px;
    padding: 0;

    text-align: right;
}
body.woocommerce-cart .wc-proceed-to-checkout a.checkout-button.button
{
    font-size: 18px;
    line-height: normal;

    margin-bottom: 0;
    padding: .618em 1em;

    border-radius: 0;
    background-color: #242423;
}

.woocommerce-shipping-calculator
{
    margin-top: 20px;
}

.shipping-calculator-form
{
    margin-bottom: 20px;
}
.shipping-calculator-form button[type=submit]
{
    margin-top: 20px;
}

.cart_totals table th
{
    width: 35%;
}

.cart_totals .button
{
    color: white !important;
    border-radius: 0 !important;
    background-color: #242423 !important;
}

.woocommerce-checkout label
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;

    margin-bottom: 3px;

    text-decoration: none;
    text-transform: uppercase;
}
.woocommerce-checkout .chzn-container
{
    font-size: 15px;
}
.woocommerce-checkout .form-row .chzn-container-single .chzn-single
{
    font-size: 18px !important;
    font-style: italic;
    line-height: 27px !important;

    height: 27px !important;

    border: 1px solid #e5e9eb;
    border-radius: 0;
    background: none;
    box-shadow: none;
}
.woocommerce-checkout .cart-subtotal
{
    border-top: 50px solid transparent;
}

.woocommerce-checkout-payment .button
{
    border-radius: 0 !important;
    background-color: #242423 !important;
}

@media only screen and (min-width: 900px)
{
    .archive.woocommerce
    {
        background: #0f0f10;
    }
    .archive.woocommerce #page
    {
        position: static;
    }
    .archive.woocommerce .content
    {
        background: transparent;
    }
    .archive.woocommerce .masonry
    {
        background: transparent;
    }

    .woocommerce-pagination a
    {
        font-family: 'Josefin Slab', serif;

        color: white;
    }
}
.woocommerce-ordering
{
    position: absolute;
    top: 30px;
    right: 10px;
}

.product
{
    position: relative;
}
.product .product-on-sale
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    padding: 6px 15px;

    color: #eee;
    background: #555;
}

.woocommerce-page input[type='submit'],
.woocommerce-page button
{
    border-radius: 0;
}
.woocommerce-page .page-content .btn,
.woocommerce-page .page-content .wc-forward a,
.wc-forward .woocommerce-page .page-content a,
.woocommerce-page .page-content .wc-forward
{
    line-height: 3;
}
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message,
.woocommerce-page .woocommerce-error
{
    padding: 24px !important;

    border: 1px solid #e5e9eb;
    border-radius: 0;
    background: none;
    box-shadow: none;
}
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before
{
    content: none;
}
.woocommerce-page .woocommerce-info .pixcode--icon,
.woocommerce-page .woocommerce-message .pixcode--icon,
.woocommerce-page .woocommerce-error .pixcode--icon
{
    margin: 3px 10px 3px 3px;

    color: #242423;
    background: #fffc00;
}
.woocommerce-page .woocommerce-error
{
    padding: 12px;

    border-color: red;
}
.woocommerce-page .woocommerce #payment
{
    background: none;
}
.woocommerce-page .woocommerce #payment label
{
    display: inline-block;
}
.woocommerce-page .woocommerce #payment .payment_methods
{
    padding: 24px 0;

    border-bottom: 1px dotted #242423;
}
.woocommerce-page .woocommerce #payment .payment_box
{
    font-family: 'Open Sans', sans-serif;

    background: none;
    box-shadow: none;
}
.woocommerce-page .woocommerce #payment .payment_box:after
{
    content: none;
}
.woocommerce-page .woocommerce #payment .place-order
{
    padding-right: 0;
    padding-left: 0;
}

.woocommerce table.shop_table,
.woocommerce-page table.shop_table
{
    border-collapse: collapse !important;
}

.woocommerce .input-text
{
    padding: 6px 12px;

    border: 1px solid #e5e9eb;
}
.woocommerce input[type='radio']
{
    height: 25px;
    margin-right: 5px;

    vertical-align: sub;
}
.woocommerce label,
.woocommerce .label
{
    display: inline;
}

@media only screen and (min-width: 900px)
{
    .no-products-error
    {
        color: white;
    }
}

.woocommerce-account.woocommerce-page form.login
{
    display: block !important;
}
